

    <ul>
      <% @all_betters.each do |better| %>
      <h2><%=better.name%>, score: <%=better.total_score %></h2>
        <% better.players.each do |player|%>
        <li><%=player.name%> <%=player.score%></li>
        <%end%>
      <%end%>
    </ul>


    <ul>
      <% @all_players.each do |player|%>
        
        <li><%=player.name%> <%=player.score%></li>
      <%end%>
    </ul>